.phoneBook {
    width: 90%;
    margin: 20px auto;
    padding: 10px 15px;
    background-color:#86d577;
    border: solid 1px #888888;
    border-radius: 8px;
}

.contact-form-wrapper {
}

.contact-list-wrapper {
    
}

.halfWidth {
    padding: 10px 10px 20px;
    width: 50%;
    box-sizing: border-box;
}
